<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body bgcolor="white">
    <div class="header">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a>About</a></li>
                <li><a>Store</a></li>
                <li><a>Contacts</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
    <div class="box">
        <div class="slider">
            <img src="{% static 'assets/Ex1.webp' %}" alt="img1">
            <img src="{% static 'assets/Ex2.jpg' %}" alt="img2">
            <img src="{% static 'assets/Ex1.webp' %}" alt="img1">
        </div>
    </div>
    </div>
    <div class="cat-head">
        <h1>Category</h1>
    </div>
    <div class="category">
        <ul>
            <li class="card1"><a href="gallery.html"></a></li>
            <li class="card2"><a></a></li>
            <li class="card3"><a></a></li>
            <li class="card4"><a></a></li>
            <li class="card5"><a></a></li>
            <li class="card6"><a></a></li>
        </ul>
    </div>
    <div class="prod-head"><h1>Products</h1></div>
    <div class="products">
        <ul class="prod">
            {% for product in products %}
            <li class="prod-card"><img class="prod-image" src="{{product.image}}" alt="image001">
                <p class="prod-details">{{product.name}}<br>${{product.price}}<br><button class="buy-button">Buy now</button></p></li>
            {% endfor %}
        </ul>
    </div>
    <h1 style="display: flex;font-family: Fira Sans Condensed, sans-serif;justify-content: center;font-weight: 1200;color: rgb(23, 24, 24);font-size: 40px;position: relative;top: 150px;">About us</h1>
        <div class="about-us">
            <img class="about-us-img" src="{% static 'assets/about-us-img.webp' %}" alt="image001">
            <p>Curtains say a lot about you. 
            They are a reflection of your style & taste and they’re a wonderful
             way to add color and beauty to your home decor. With us at 
             Ganga Home Furnishings bring style to your space with long drapes
              and add a splash of colour to your home. Match them to your ​furniture or
               choose contrasting colors to add dimension. There’s a lot more that curtains can do
                to beautify your interiors. Curtains have the power to actually transform a room—a few 
                well-selected curtains can give your room a bright, interesting makeover. They can uplift 
                your mood and even help relax your mind. We are located at Vikas Nagar, Uttarakhand.</p>

        </div>
</body>
</html>