{% extends "F:\Portfolio website\mysite\Products\templates\index.html" %}

{% block title %}Home

{% endblock %}

{% block content %}
<div class="header">
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a>About</a></li>
            <li><a>Store</a></li>
            <li><a>Contacts</a></li>
        </ul>
    </nav>
</div>
<div class="box">
    <div class="slider">
        <img src="Ex1.webp" alt="img1">
        <img src="Ex2.jpg" alt="img2">
        <img src="Ex1.webp" alt="img1">
    </div>
</div>
<div class="category">
    <h1>Category</h1>
    <ul>
        <li class="card1"><a href="gallery.html"></a></li>
        <li class="card2"><a></a></li>
        <li class="card3"><a></a></li>
        <li class="card4"><a></a></li>
    </ul>
</div>
{% endblock %}