*{
    margin: 0px;
    padding: 0%;
}


.navbar{
    display: flex;
    justify-content: center;
}
body{
    margin: 0px;
}


.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    height: 50px;
    position:  relative;
    top: 30px;
    
}
.navbar a{
    display: block;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 15px;
    

}
.navbar a:hover{
    color: rgb(255, 102, 0);
}
.navbar li{
    float: left;
    font-family: sans-serif;
}
.header{
    position: fixed;
    background-color: rgb(253, 253, 252);
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 0px;
    border-bottom: 2px solid rgb(73, 73, 73);
    z-index: 1000;
}

.search-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
} 
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    margin-right: 10px;
}
.search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.search-button:hover {
    background-color: #0056b3;
}

.content{
    display: flex;
    justify-content: center;
    align-content: center;
}
.box{
    width: 1100px;
    position:relative;
    top:100px ;
    overflow: hidden;
    background-color: black;
}
.slider{
    display: flex;
    height: 500px;
    width: 100%;
    animation: slide 8s infinite;
}
@keyframes slide{
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-120%);
    }
    75%{
        transform: translateX(-120%);
    }
    100%{
        transform: translateX(-226%);
    }
    
}

.cat-body{
    display: flex;
    justify-content: center;
}

.category{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1000px;
}
.category ul{
    list-style-type: none;
    position: relative;
    top: 10px;
}
.category ul li{
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 25px;
    float: left;
    padding: 30px;
    margin: 35px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
}


.card1{
    background-image: url(assets/card1.webp);
    background-size: cover;
    
}
.card1 a {
    display: block; /* Make the <a> element a block-level element */
    width: 100%; /* Make the <a> element take up the full width of the <li> */
    height: 100%; /* Make the <a> element take up the full height of the <li> */
    text-indent: -9999px; /* Hide the text in the <a> element */
}
.card2{
    background-image: url(card2.webp);
    background-size: cover;
}
.card3{
    background-image: url(assets/card3.jpeg);
    background-size: cover;
}
.card4{
    background-image: url(assets/card4.webp);
    background-size: cover;
}
.card5{
    background-image: url(card2.webp);
    background-size: cover;
}
.card6{
    background-image: url(assets/card3.jpeg);
    background-size: cover;
}

.category ul li:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;

}
.cat-head{
    display: flex;
    justify-content: center;
    position: relative;
    top: 125px
}
.cat-head h1{
    display: flex;
    font-family: "Fira Sans Condensed", sans-serif;
    justify-content: center;
    font-weight: 600;
    color: rgb(23, 24, 24);
    padding: 20px;
    font-size: 40px;
}

.prod-head{
    display: flex;
    justify-content: center;
}
.prod-head h1{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 1200;
    color: rgb(23, 24, 24);
    padding: 20px;
    font-size: 40px;
    position: relative;
    top: 150px;
}

.products{
    display: flex;
    justify-content: center;
}

.prod{
    position: relative;
    top: 150px;
}

.prod-card{
    display: flex;
    height: 400px;
    width: 200px;
    float: left;
    padding: 10px;
    margin: 35px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
    
}
.prod-image{
    width: 100%;
    height: 70%;
    margin-bottom: 30px;
    object-fit: cover;
}
.prod-details{
    position: absolute;
    top: 73%;
    color: rgb(78, 78, 78);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.buy-button{
    background-color: rgb(255, 0, 76);
    border-radius: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: 40px;
    width: 80px;
    border-width: 2px;
    border-color: white;
    position: absolute;
    left: -1px;
}


.about-us{
    display: flex;
    justify-content: center;

}
.about-us h1{
    display: flex;
    font-family: "Fira Sans Condensed", sans-serif;
    justify-content: center;
    font-weight: 1200;
    color: rgb(23, 24, 24);
    font-size: 40px;
    position: relative;
    top: 150px;
}
.about-us p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: relative;
    top: 200px;
    display: flex;
    height: 500px;
    width: 500px;
    margin: 20px;
}

.about-us-img{
    display: flex;
    height: 500px;
    width: 500px;
    position: relative;
    top: 200px;
    border-radius: 15px;
}

.gal-main{
    display: flex;
    justify-content: center;
}

.gallery{
    display: flex;
    justify-content: center;
    width: 1450px;
}

.gallery ul{
    list-style-type: none;
    position: relative;
    top: 200px;
    justify-content: center;
}

.gallery ul li{
        float: left;
}
.gal-img{
    display: flex;
    height: 225px;
    width: 410px;
    border-radius: 15px;
    margin: 35px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
}


.arrow-right{
    height: 50px;
}
#arrow-right{
    height: 50px;
    position: relative;
    left: 410px;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    /* Add any other custom styles you need */
}

.test-slider{
    display: flex;
    justify-content: center;
}

.testimonial-slider {
    position: relative;
    top: 300px;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .testimonial {
    min-width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    background-color: #1d1d1d;
    color: goldenrod;
  }

  .quote{
    height: 50px;
    position: absolute;
    left: 20%;
    top: 0%;
}

.contact-us{
    display: flex;
    justify-content: center;
}

.map{
    position: relative;
    top: 400px;
    left: 300px;
}

.details{
    display: flex;
    position: relative;
    left: 300px;
}

.con-img{
    position: relative;
    height: 50px;
    width: 50px;
    left: 50px;
}

.container{
    display: grid;
    grid-template-columns: 60px 300px;
    grid-template-rows: 50px 100px;
    border: black;
    position: relative;
    top: 400px;
    padding: 20px;    
}

.container div{
    padding: 10px;
}

.con-form{
    display: flex;
    justify-content: center;
}

.contact-us-form{
    position: relative;
    top: 500px;
    left: -160px;
}

.email-area{
    width: 350px;
    margin:10px;
    margin-left: 0px;
    border-radius: 15px;
    height: 30px;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
}

.submit-button{
    width: 100px;
    background-color: blue;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
    height: 30px;
}

.message-area{
    position: relative;
    width: 400px;
    height: 200px;
    top: -200px;
    left: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
}